* {
  font-size: large;
}

.gameSetup {
  display: grid;
  grid-template-columns: 5fr 4fr 3fr 3fr 2fr;
  column-gap: 20px;
}

.shipBlock {
  height: 60px;
  /* width: 60px; */

  border-width: 5px;
  border-style: solid;
  border-color: black;
}

.shipBlockDrag {
  border-style: dotted;
  border-color: red;
}

.shipBlockrotate90 {
  transform: rotate(90deg);
}

.shipBlockC {
  background-color: pink;
}
.shipBlockB {
  background-color: paleturquoise;
}
.shipBlockD {
  background-color: palegreen;
}
.shipBlockS {
  background-color: palegoldenrod;
}
.shipBlockP {
  background-color: lavender;
}

.gridSquareDraggedOver {
  background-color: lightgrey;
}

.gameBoard {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
}

.gameBoardPlayerOne {
  display: grid;
  margin: 20px;
  padding: 20px;
}
.gameBoardPlayerTwo {
  display: grid;
  margin: 20px;
  padding: 20px;
}

.shipBlock {
  border-width: 5px;
  border-style: solid;
  border-color: black;
}

/* .gridDiv,
.gridDivOne,
.gridDivTwo {
  display: grid;
  width: 100%;
} */

.gridRow {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(10, 1fr);
}

.gridSquare {
  border-width: 5px;
  border-style: solid;
  border-color: black;

  height: 60px;
  width: 60px;
}

.gridSquareActive {
  border-color: red;
  border-width: 5px;
}

.gridSquareMiss {
  border-color: blue;
  border-width: 5px;
}
.gridSquareHit {
  border-color: orange;
  border-width: 5px;
}

.actionBtn {
  border-width: 2px;
  border-color: black;
  border-style: line;
}
